<div class="navbarPersonal">
  <div><button pButton pRipple type="button" (click)="datamodule.sidebar=true;" icon="pi pi-align-left" class="p-button-rounded p-button-text" *ngIf="loggin.getislogin()"></button></div>
  <div>
    <p-chip label={{this.loggin.getAccessData().name}} icon="pi pi-user" styleClass="mr-2" *ngIf="loggin.getislogin()"></p-chip>
    <button pButton pRipple type="button" (click)="loggin.login()" label="Iniciar Sesion" class="p-button-text" *ngIf="loggin.getislogin()==false"></button>
    <button pButton pRipple type="button" (click)="loggin.logout()" label="Cerrar Sesion" class="p-button-secondary p-button-text" *ngIf="loggin.getislogin()"></button>
  </div>
</div>
