<p-sidebar [(visible)]="datamodule.sidebar">
  <div class="parent">
    <p-image src="assets/image/logo.png" width="100%"></p-image>
    <div>
      <p-panelMenu [model]="items" [style]="{'width':'300px'}"></p-panelMenu>
    </div>
  </div>
</p-sidebar>
<div style="display: flex">
</div>

